
.gtco-section {
    padding: 7em 0;
    clear: both;
    position: relative;
}

@media screen and (max-width: 768px) {
    .gtco-section {
        padding: 2em 0;
    }
}


.gtco-section.border-bottom {
    border-bottom: 1px solid #e6e6e6;
}


/* end gtco-section */

.gtco-cover>.gtco-container {
    position: relative;
    z-index: 10;
}
.gtco-container {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* end gtco-container */

.fh5co-card-item {
    display: block;
    width: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    bottom: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-card-item figure {
    height: 140px;
    overflow: hidden;
    z-index: 12;
    position: relative;
}

.fh5co-card-item figure .overlay {
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.fh5co-card-item figure .overlay i {
    z-index: 12;
    color: #fff;
    font-size: 30px;
    position: absolute;
    margin-left: -15px;
    margin-top: -45px;
    top: 50%;
    left: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-card-item img {
    z-index: 8;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-card-item .fh5co-text {
    padding: 0px 10px 10px 20px;
    text-align: center;
}

.fh5co-card-item .fh5co-text h2,
.fh5co-card-item .fh5co-text span {
    text-decoration: none !important;
}

.fh5co-card-item .fh5co-text h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: #09C6AB;
}

.fh5co-card-item .fh5co-text span {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

.fh5co-card-item .fh5co-text p {
    color: #000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fh5co-card-item .fh5co-text span.btn {
    color: #fff !important;
    opacity: 1;
    visibility: visible;
    bottom: 0;
    background: #1a1a1a;
    border: 2px solid #1a1a1a !important;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fh5co-card-item:hover,
.fh5co-card-item:focus {
    bottom: 7px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

.fh5co-card-item:hover img,
.fh5co-card-item:focus img {
    -webkot-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.fh5co-card-item:hover span.btn,
.fh5co-card-item:focus span.btn {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    border: 2px solid #0adec0 !important;
    background: #0adec0 !important;
}

.fh5co-card-item:hover figure .overlay,
.fh5co-card-item:focus figure .overlay {
    opacity: 1;
    visibility: visible;
}

.fh5co-card-item:hover figure .overlay i,
.fh5co-card-item:focus figure .overlay i {
    margin-top: -15px;
}

.fh5co-card-item:hover h2,
.fh5co-card-item:hover span,
.fh5co-card-item:focus h2,
.fh5co-card-item:focus span {
    text-decoration: none !important;
}

/* end fh5co-card-item */


.fh5co-card-item:hover figure .overlay,
.fh5co-card-item:focus figure .overlay {
    opacity: 1;
    visibility: visible;
}

.fh5co-card-item:hover figure .overlay i,
.fh5co-card-item:focus figure .overlay i {
    margin-top: -15px;
}

.gtco-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gtco-video:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
}

.gtco-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}


.fh5co-card-item figure .overlay {
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.fh5co-card-item figure .overlay i {
    z-index: 12;
    color: #fff;
    font-size: 30px;
    position: absolute;
    margin-left: -15px;
    margin-top: -45px;
    top: 50%;
    left: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


/* end fh5co-card-item */


.fh5co-card-item .fh5co-text {
    padding: 0px 10px 10px 20px;
    text-align: center;
}

.fh5co-card-item .fh5co-text h2,
.fh5co-card-item .fh5co-text span {
    text-decoration: none !important;
}

.fh5co-card-item .fh5co-text h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: #09C6AB;
}

.fh5co-card-item .fh5co-text span {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

.fh5co-card-item .fh5co-text p {
    color: #000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fh5co-card-item .fh5co-text span.btn {
    color: #fff !important;
    opacity: 1;
    visibility: visible;
    bottom: 0;
    background: #1a1a1a;
    border: 2px solid #1a1a1a !important;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


.gtco-card-info{
    margin: auto !important; 
    width: 100% !important
}

.image-center{
    display: flex;
    justify-content: center;
}

.img-center-first{
    width: 100% !important;
}